* {
    padding: 0;
    margin: 0;
    color: rgb(176, 252, 255);
}
body{
    background-color: rgb(97, 93, 148);
}
.title{
    font-size: 60px;
    text-decoration: underline;
    margin-top: 50px;
    text-align: center;
}

#list{
    margin: 0 auto;
    margin-top: 30px;
    width: 50%;
    list-style: none;
    text-align: center;
}

.item{
    position: relative;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    overflow-wrap: break-word;
    height: 100%;
    
}

.add-clear{
    padding: 5px;
    color: black;
}

.align-content{
    text-align: center; 
    margin-top: 20px;
}

.delete-btn{
    /* display: inline-block; */
    border-radius: 10%;
    color: black; 
    font-weight: bold;   
}

.edit-btn{
    border-radius: 10%;
    color: black; 
    font-weight: bold;   
    margin-left: 10px;
}